@media screen and (max-width: 1180px) {

  #inicio {
    padding: 24px 10px 128px;
  }

  #clinica {
    padding: 64px 50px;
  }

  #duvidas {
    padding: 64px 10px;
  }
}

@media screen and (max-width: 1024px) {

  #inicio {
    padding: 24px 10px 98px;
  }

  .btns {
    text-align: center;
    line-height: 20px;
  }

  #clinica {
    padding: 64px 20px;
  }

  #duvidas .logo {
    width: 450px;
  }
}

@media screen and (max-width: 950px) {

  #inicio {
    flex-direction: column-reverse;
    padding: 60px 80px;
  }

  #inicio .about {
    text-align: center;
  }

  #inicio .about .btns {
    margin: 0 auto;
  }

  #clinica {
    flex-direction: column;
    padding: 80px;
  }

  #clinica div {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #clinica div h2,
  #clinica div p {
    text-align: center;
  }

  #clinica ul {
    padding: 0 30px;
  }

  #clinica ul li {
    margin: 0 0 22px 68px;
  }

  #farmacia img {
    margin: 34px auto;
  }

  #duvidas {
    flex-direction: column;
    padding: 80px;
  }

  #duvidas .logo {
    width: 540px;
  }

  #duvidas .paragrafo {
    text-align: center;
  }

  footer {
    padding: 64px 20px;
  }
}

@media screen and (max-width: 768px) {

  .nav-bar {
    padding: 1.5rem 4rem;
  }

  .nav-itens {
    display: none;
  }

  .mobile-menu-icon{
    display: block;
  }

  .mobile-menu-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul{
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-itens{
    display: block;
    padding: 1rem;
    text-align: center;
  }

  .open{
    display: block;
    padding-top: 15px;
  }

  #inicio {
    padding: 30px;
  }

  #clinica {
    padding: 100px 20px;
  }

  #farmacia {
    padding: 64px 10px;
  }

  #farmacia img {
    width: 500px;
  }

  footer {
    flex-wrap: wrap;
    padding: 20px 80px;
    gap: 20px;
  }

  footer div {
    padding: 10px;
  }

}

@media screen and (max-width: 550px) {

  #inicio {
    padding: 30px 10px 0;
  }

  #inicio h1,
  p {
    text-align: center;
  }

  #clinica ul {
    padding: 0;
  }

  #clinica ul li {
    margin: 0 0 22px 28px;
  }

  #farmacia img {
    width: 460px;
  }

  #duvidas {
    padding: 80px 40px;
  }

  #duvidas .logo {
    width: 500px;
  }
}

@media screen and (max-width: 480px) {

  #inicio {
    padding: 30px 5px 0;
  }

  #inicio .about .btns .btn {
    padding: 16px 24px;
  }

  #duvidas .logo {
    width: 450px;
    height: 450px;
  }

  #duvidas {
    padding: 80px 20px;
  }

  #duvidas .logo {
    width: 420px;
  }

}

@media screen and (max-width: 420px) {


  #inicio  .btns {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  #inicio img{
    width: 350px;
    height: 350px;
  }

  #inicio img[src*=start] {
    width: 350px;
    height: 350px;
  }

  #clinica img {
    width: 350px;
    height: 350px;
  }

  #farmacia img {
    width: 350px;
    height: 350px;
    margin: 0 auto;
  }

  #duvidas {
    padding: 70px 10px;
  }

  #duvidas .logo {
    width: 350px;
    height: 350px;
  }

  footer {
    padding: 20px;
  }
}